# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/

arrhythmia_detection_cnn_venv/
.venv/


data/*
!data/.gitkeep

# Cache e compilados do Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Checkpoints de modelo (pesados)
*.h5
*.keras
*.pth

# Configs de IDE
.vscode/
.idea/